html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: large;
    background-color: black;
    color: black;
}
.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: auto;
}
section {
    background-color: white;
    margin: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border: 2px solid white;
}
h1 {
    font-family: 'Comfortaa', cursive;
    color: black;
}
i {
    font-size:38px;
    color:green;
}
.artfield {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 9rem;
    padding-top: 5rem;
}
img {
    border: 10px solid orange;
    margin-left: 0rem;
    padding: 1rem;
}
article {
    margin-left: 5rem;
    display: flex;
    flex-flow: column; 
}
.conlinks {
    margin-top: 2rem;
}
h3 {
    font-size: 19px;
    margin-bottom: -1rem;
}
nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: -4rem; 
}
nav li {
    border: 1px solid black;
    border-radius: 5%;
    display: inline-block;
    padding: 0.5rem;
    background-color: orange;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.2rem;
    color: black; 
}
nav li:hover {
      background-color: white;
      color: black;
}